* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: gray;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: rgba(230, 217, 235, 0.95);
  padding: 16px 32px;
  width: 100%;
}

nav {
  margin: 0 64px;
}

body {
  background-color: rgba(245, 245, 245, 1);
}

main section {
  padding: 32px;
  margin-left: 64px;
  margin-right: 64px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  font-size: 32px;
}

.logo:hover {
  color: inherit;
}

.home-section {
  margin-top: 16px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.hero {
  height: 500px;
  padding: 0;
  margin: 0;
  background-color: rgba(202, 230, 244, 0.54);
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 260px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: white;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.card-title {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: large;
}

.card-button {
  width: 100%;
  padding: 8px;
  border: 1px solid rgb(90, 56, 104);
  background-color: transparent;
  border-radius: 8px;
  color: inherit;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.card-button:hover {
  background-color: rgb(90, 56, 104);
  color: white;
}

.card-content p {
  color: dimgray;
  font-size: small;
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-footer p {
  color: inherit;
  font-weight: 500;
  font-size: x-large;
}

.image-container {
  display: flex;
  justify-content: center;
  height: 220px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

@media (min-width: 992px) {
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: space-between;
    gap: 32px;
  }
}

.products-main {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 16px 32px;
  margin: 16px 64px;
  margin-right: 0;
  padding-right: 0;
}

.category-section {
  height: fit-content;
  margin: 32px 0px;
  width: 210px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 12px 16px;
}

.category-section h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: larger;
}

.category-section a {
  font-family: "Poppins", sans-serif;
}

.category-section a:hover {
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid gray;
}

.category-list {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 4px;
  font-size: medium;
}

.footer-section {
  height: 200px;
  background-color: gainsboro;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
}

.help-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}

.help-article {
  width: 350px;
  font-family: "Poppins", sans-serif;
}

.help-article div {
  background-color: rgba(90, 56, 104, 0.836);
  width: fit-content;
  padding: 12px;
  border-radius: 1000px;
}

.help-article i {
  color: white;
}

.help-article h2 {
  font-weight: 500;
  font-size: larger;
  color: rgb(90, 56, 104);
}

.help-article p {
  text-wrap: balance;
  color: rgba(0, 0, 0, 0.85);
}

.help-article a {
  color: rgb(90, 56, 104);
}

.help-article a:hover {
  color: black;
}
