* {
  padding: 0;
  margin: 0;
}

header {
  /*border-bottom: 1px solid whitesmoke;*/
  background-color: rgba(230, 217, 235, 0.7);
}

ul {
  display: flex;
}

li {
  list-style: none;
}

nav {
  padding: 16px;
  margin: 0 48px;
}

nav ul {
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a:hover {
  color: gray;
}

main section {
  padding: 16px;
  margin: 0 48px;
}

.brandName {
  font-size: 32px;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.hero {
  height: 500px;
  border-bottom: 1px solid;
  padding: 0;
  margin: 0;
  background-color: rgba(202, 230, 244, 0.54);
}

.card {
  width: 320px;
  height: auto;
  padding: 16px;
  border: 1px solid gainsboro;
  border-radius: 16px;
}

.cardTitle {
  color: dimgray;
}

.card button {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(57, 35, 78, 0.986);
  border-radius: 8px;
  color: white;
  background-color: rgba(94, 53, 133, 0.76);
  cursor: pointer;
}

.imageContainer {
  display: flex;
  justify-content: center;
  height: 280px;
  border: 1px solid gainsboro;
  border-radius: 8px;
}

img {
  object-fit: cover;
}

.productList {
  flex-wrap: wrap;
  justify-content: space-between;
}
